/**********************全局样式开始**********************/
*{
    padding:0;
    margin:0;
}
body{
    font-family: "Microsoft YaHei UI Light";
    font-size: 14px;
}
ul > li {
    list-style: none;
}
a{
    text-decoration: none;
}
/***********************全局样式结束**********************/
.input_item{
    height: 50px;
    margin: 10px 0 10px 0;
}
.input_item >input{
    height: 40px;
}
