/**********************全局样式开始**********************/
*{
    padding:0;
    margin:0;
}
body{
    font-family: "Microsoft YaHei UI Light";
    font-size: 14px;
    background-color: #f6f6f6;
}
ul > li {
    list-style: none;
}
a{
    text-decoration: none;
}
/***********************全局样式结束**********************/

/************公共样式开始****************/
.footer {
    width: 90%;
    height: 70px;
    margin:0px auto;
}
/*************公共样式结束**************/
/*************注册样式开支*************/
.input_item{
    height: 50px;
    margin: 5px 0 5px 0;
}
.input_item >input {
    height: 40px;
}
/*************注册样式结束*****************/